<footer>
    <h4>Powered by <a href="https://rapidapi.com/justin-WFnsXH_t6/api/exercisedb/details" target="_blank">ExerciseDB API</a> 💪</h4>
    <p>Copyright © <%= new Date().getFullYear(); %></p>
  </footer>
  <!-- JQuery -->
  <script src="https://kit.fontawesome.com/6d3aafdcde.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script>

// Show or Hide Exercise Instructions
  let showInstructions = false;
  $( ".toggleInstructionsBtn" ).on( "click", function() {
    const id = $(this).attr("id");
    if (!showInstructions) {
        // Show Instructions
        $("#instructions-" + id).addClass("showHidden");
        showInstructions = true;
        $("#" + id).html('<i class="fa fa-list-ol fa-lg" aria-hidden="true"></i>');
        $("#" + id).removeClass("primaryBtn");
        $("#" + id).addClass("secondaryBtn");
    } else if (showInstructions) {
        // Hide Instructions
        $("#instructions-" + id).removeClass("showHidden");
        showInstructions = false;
        $("#" + id).html('<i class="fa fa-list-ol fa-lg" aria-hidden="true"></i>');
        $("#" + id).addClass("primaryBtn");
        $("#" + id).removeClass("secondaryBtn");
    }
  });

   // Show or Hide Muscle Detail
   let showDetail = false;
  $( ".toggleDetailsBtn" ).on( "click", function() {
    const id = $(this).attr("id");
    if (!showDetail) {
        // Show Muscle Detail
        $("#muscleDetail-" + id).addClass("showHidden");
        showDetail = true;
        $("#" + id).html('</i><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>');
        $("#" + id).removeClass("primaryBtn");
        $("#" + id).addClass("secondaryBtn");
    } else if (showDetail) {
        // Hide Muscle Detail
        $("#muscleDetail-" + id).removeClass("showHidden");
        showDetail = false;
        $("#" + id).html('<i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>');
        $("#" + id).addClass("primaryBtn");
        $("#" + id).removeClass("secondaryBtn");
    }
  });

</script>
  <!-- //JQuery -->
</body>
</html>