<form action="/searchMovement" method="post">
  <input type="text" name="searchMovement" placeholder="Search an Exercise" required />
  <div>
    <input type="radio" name="equipment" id="Any" value="" checked="checked"/>
    <label for="Any">Any</label>
  </div>
  <div>
    <input type="radio" name="equipment" id="Barbell" value="barbell" />
    <label for="Barbell">Barbell</label>
  </div>
  <div>
    <input type="radio" name="equipment" id="Bodyweight" value="body weight" />
    <label for="Bodyweight">Bodyweight</label>
  </div>
  <div>
    <input type="radio" name="equipment" id="Dumbbell" value="dumbbell" />
    <label for="Dumbbell">Dumbbell</label>
  </div>
  <div>
    <input type="radio" name="equipment" id="Kettlebell" value="kettlebell" />
    <label for="Kettlebell">Kettlebell</label>
  </div>
  <div>
    <input type="radio" name="equipment" id="Resistance Band" value="resistance band" />
    <label for="Resistance Band">Resistance Band</label>
  </div>
  <button type="submit" name="Search" class="primaryBtn" id="searchBtn" ><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;Search</button>
</form>
